// FAQ

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 5em;
    
    div {
        background-color: #eaf3ee;
        border-radius: 5px;
        margin: 2em 0em 0em 0em;
        padding: 2em;
            

            p {
                span {
                font-weight: bold;
                font-size: 1.4em;
                color: #055c4d;
            }
        }
    }
}



@media screen and (max-width: 1080px) {

    .faq {
        width: auto;
        height: auto;
        margin-left: 1em;
        margin-right: 1em;

        div {
            width: auto;

                p {

                    span {
                        font-size: 1.2em;
                    }
                    
                }
                
            }
        }
    }

