// FAQ

.faq {
    width: 1000px;
    margin: auto;

    ul {
        list-style: none;
    }

    ul div {
        padding: 2em 0em 2em 0em;
    }

    ul div li {
        padding: 1em 0em 1em 0em;
    }
}