@import "mixins";

footer {
    width: auto;
    height: 100px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-content: center;


     ul {
         width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        margin-top: 2em;
        
    }
    
     ul li {
        display: inline-block;
    }
   
}

