/* Inicio */

.preguntas-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto-home {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2em;

    span {
        color: $acento-color;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.texto-piezas {
    width: 600px;
   
}

.texto-piezas span {
    width: 500px;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 2em;
    font-weight: 800;
}

@media screen and (max-width: 1080px) {

    .texto-home figure img{
        display:none;
      }

    .preguntas-home {

        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
}