/*Estilos generales*/

/*Import*/
@import "mixins";

// Variables
$acento-color: #6cc29e;
$ancho: 400px;
$destacado: 500px;

// Modificaciones de bootstrap

$success: $acento-color;


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: #fffefe;
}

#logo {
    text-align: center;
    margin: 1em;
    margin-top: 5em;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


/*Grid*/

.grid {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Navbar */

.navbar {
    background-color: $acento-color !important;
}

.navbar-toggler {
    background-color: $acento-color;
}

.offcanvas {
    background-color: #e6f0eb;
}

/*HTML El taller*/

.taller {
    display: flex;
    flex-direction: column;
    margin:auto;
}

.explicacion-taller {
    width: 1000px;
    align-content: center;
}

@media screen and (max-width: 1080px) {
    
    .navbar {
        width: auto;
    }

    .pasos {
        padding: 2em;
        margin: 1em;
        border-radius: 5px;
    }

    .preguntas-home {
        width: auto;
    }
}




