/* Destacados */

@mixin destacado {

    font-weight: bold;
    font-size: 1.3em;
    margin: 1em 7em 3em 7em;
    text-align: center;
    

    p {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
        color: #001613;
    }

    span {
        font-family: 'Cormorant Garamond';
        font-style: italic;
        font-weight: 1000;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
    }
}

.destacado {
    @include destacado;
}

@media screen and (max-width: 1080px) {

    .destacado {

        font-size: 0.8em;
        margin: 0em 2em 2em 2em;
    }
}




