/* Destacados */

@mixin destacado {

    font-weight: bold;
    font-size: 1.3em;
    margin: 3em;
    text-align: center;
    

    p {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
        color: #001613;
    }

    span {
        font-family: 'Cormorant Garamond';
        font-style: italic;
        font-weight: 1000;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
    }
}




