/* Productos */

.productos {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.producto-individual {
    display: flex;
    flex-direction: column;
    margin: 1em;

    figure {
        transition: transform .2s; /* Animation */
    }
}

.producto-individual figure:hover {
    transform: scale(1.1);
}

.texto-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    width: $ancho/2;
    background-color: #098b76;
    color: aliceblue;

    p {
        margin: auto;
        padding: 0.2em; 
    }
}


@media screen and (max-width: 1080px) {

   .productos {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       width: auto;
   } 

}

